.signin-container {
  background-color: #1A212A;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .sign-form{
    width: 850px;
    height: 27rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.inner-signin{
    color: white;
}


.signinput{
    padding: 1.3rem;
    border-radius: 35px;
    border: 1px solid #D9C368;
    color: #CACACA;
    font-weight: 200;
    z-index: 99;
    background-color: transparent;
    outline: none;
}

.nameinput{
    width: 17rem;
}



.form-label{
    font-weight: 300;
    font-size: 1rem;
    margin: 0.5rem;
}

.forgotten-pass{
    font-size: 0.5rem;
}

.sign-button{
    width: 100%;
    background-color: transparent;
    color:  #CACACA;
    font-weight: 200;
    border: 1px solid #D9C368;
    border-radius: 30px;
    padding: 1rem;
}

.user-names{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.user-name{
    display: flex;
    flex-direction: column;
}
.label-signin{
    font-size: 1.1rem;
    margin: 0.5rem 0;
}


.terms-conditions{
    margin-top: 1.5rem;
}

.pass-text{
    font-size: 0.9rem;
    font-weight: 100;
    text-align: right;
}


.error-message{
    color: red;
}


.form-input{
    display: flex;
    flex-direction: column;
}